<pe-form-layout [form]="form">
  <form [formGroup]="form">
    <div class="grid grid-cols-12 gap-4">
      <div class="col-span-12 lg:col-span-4 md:col-span-6">
        <div>
          <label for="name">Categoria</label>
          <input pInputText id="name" formControlName="name" class="w-full" peAutofocus />
        </div>
      </div>

      <div class="col-span-12 lg:col-span-4 md:col-span-6">
        <label for="description">Descrição</label>
        <input pInputText id="description" formControlName="description" class="w-full" />
      </div>
    </div>
  </form>
</pe-form-layout>
