header {
  height: 6vh;
}

main {
  height: 94vh;
  display: flex;
  transition: all 0.3s ease-in-out;

  .main-content {
    padding: 20px;
    background-color: #f4f4f4;
    transition: width 0.3s ease-in-out, margin-left 0.3s ease-in-out;
    margin-left: auto;
  }
}
