<div style="padding: 20px">
  <div>
    <p-button label="Adicionar Gasto" />
  </div>

  <div>
    <p-table [value]="expenses()">
      <ng-template #header>
        <tr>
          <th>Nome</th>
          <th>Valor</th>
          <th>Descrição</th>
          <th>Categoria</th>
        </tr>
      </ng-template>

      <ng-template #body let-expense>
        <tr>
          <td>{{ expense.name }}</td>
          <td>{{ expense.value | currency: "BRL" }}</td>
          <td>{{ expense.description }}</td>
          <td>{{ expense.expenseKind?.name }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
