<div class="pb-3">
  <p-button label="Adicionar Gasto" routerLink="/expense" />
</div>

<p-table [value]="expenses()">
  <ng-template #header>
    <tr>
      <th>Valor</th>
      <th>Gasto</th>
      <th>Data</th>
      <th>Categoria</th>
    </tr>
  </ng-template>

  <ng-template #body let-expense>
    <tr [routerLink]="['/expense', expense.id]" class="cursor-pointer">
      <td>{{ expense.value | currency: "BRL" }}</td>
      <td>{{ expense.name }}</td>
      <td>{{ expense.date | date }}</td>
      <td>{{ expense.expenseKind?.name ?? "-" }}</td>
    </tr>
  </ng-template>
</p-table>
